body {
  box-sizing: border-box;
  margin: 0 10vw;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  /* background-color: #222; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2031%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient2032)'%3e%3c/rect%3e%3cpath d='M1920 0L1449.78 0L1920 88.34z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1449.78 0L1920 88.34L1920 453.02L1133.37 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1133.37 0L1920 453.02L1920 789.98L652.2399999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M652.2399999999998 0L1920 789.98L1920 864.45L204.63999999999976 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 1080L348.74 1080L0 713.35z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 713.35L348.74 1080L679.59 1080L0 533.7z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 533.7L679.59 1080L1267.88 1080L0 246.87000000000006z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 246.87000000000012L1267.88 1080L1517.91 1080L0 170.98000000000013z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2031'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='50%25' x2='100%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2032'%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.05'%3e%3c/stop%3e%3cstop stop-color='rgba(63%2c 12%2c 68%2c 1)' offset='0.78'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.header-title {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  letter-spacing: 10px;
  margin: 1vh 14vw;
  background-color: #3f0c44;
  border-radius: 10px;
  cursor: pointer;
}

.header-title:hover {
  opacity: 0.8;
}

p {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}

.main-container {
  display: flex;
  justify-content: center;
}

.main-container div {
  position: relative;
  width: 50%;
}

.fetch-btn {
  background-color: #3f0c44;
  color: #fff;
  height: 9vh;
  font-size: 18px;
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.fetch-btn:hover {
  background-color: #fff;
  color: #3f0c44;
}

#dog-btn {
  margin-left: 14vw;
}

.button__text {
  transition: all 0.2s;
  display: flex;
  align-items: center;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid transparent;
  border-top-color: #000;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.joke-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dog-img {
  width: 100%;
  max-height: auto;
  display: none;
  margin-top: 2vh;
  border: solid 3px #3f0c44;
  border-radius: 5%;
  cursor: pointer;
}

.joke-text {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin: 8vh 5vw;
  padding: 15px;
  color: #fff;
  font-size: 25px;
  background-color: #3f0c44;
  border-radius: 5%;
  max-width: 15vw;
  cursor: pointer;
}

.show {
  display: flex;
  justify-content: center;
}

.hide {
  opacity: 0;
}

.pointing-arrows {
  display: flex;
  justify-content: space-evenly;
}

.pointer-arrow {
  height: 10vh;
  margin-left: 19vw;
  margin-right: 16vw;
}

.btn-emoji {
  max-width: 2vw;
  margin-left: 0.3vw;
}

.error-message {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
